include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

include htheatpump/htparams.csv

include samples/htdatetime.py
include samples/htshell.py
include samples/htquery.py
include samples/htset.py
include samples/htfaultlist.py
include samples/htbackup.py

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
